*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
ul{
  padding-left: 0px !important;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.tracker_area{
  width: 400px;
}
.display_flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.balance_area,.expense_area li{
  background: #e9ecef;
  padding: 10px;
  border-radius: 6px;
  margin-block-end: 20px;
  text-transform: capitalize;
}
.expense_area ul li{ 
  margin-block-end: 20px;
}
.balance {
  font-size: 20px;
  font-weight: 700;
  color: crimson;
}